
<nav class="navbar navbar-light bg-light" [style.background-color]="'darkorchid'"><h1><b> Game Room  </b> </h1>

  <ul class="nav justify-content-end bottomfooter">
      <li class="nav-item">
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{us.get_username()}}
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item" href="#" (click)="profile()">{{us.get_mail()}}</div>
            <div *ngIf="us.is_admin()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Admin role</div>
            <div *ngIf="us.is_moderator()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Moderator role</div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item nav-link" (click)="logout()" >Logout</button>
          </div>
        </div>
      </li>
    </ul>
</nav>

<div class="row">

  <div  class="col-sm-6">
    <br> <br><br>
    <div class="jumbotron">
     <div><h4>Play game!</h4></div> 
     <div>
      <div *ngIf="create">
          <button type="button" (click)="createGame()">Create game</button>
      </div>
      <div *ngIf = "wait">
        Waiting for an opponent!
        <div  class="loader"></div>
        <!--<button type="button" (click)="checkGame()">Check</button>-->
      </div>
      
    </div>
    <div *ngIf="create">
    <button   type="button" (click)="gamesList()">List games</button> 
    <div *ngIf="availableGames">
     <h3>There are no games available. Please create a game!</h3>
    </div>
    <div *ngIf="games.length">
        <table *ngFor="let game of games"> 
          <tr *ngIf="checkList(game)">
            <td width="200px"><h5>{{game.idPlayerOne}}</h5></td>
            <td><button type="button" (click)="join(game.idPlayerOne)">Join</button></td>
          </tr> 
        </table>
       
    </div> 
  </div>
  </div>
</div>
  <div class="col-sm-6" [ngStyle]="{'margin-top': '10px'}" >  <br> <br><br> <app-message-list></app-message-list>
  </div>  

</div>


