#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:400px;
	height:400px;
	margin-top: 3%;
}

#gameboard div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:10%;
	height:10%;
}

#gameboard-shooting {
	position:relative;
	margin:0 auto 2em auto;
	width:400px;
	height:400px;
	margin-top: 3%;
}

#gameboard-shooting div {
	position:absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:10%;
	height:10%;
}
#h4{
	text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	width: 50%;
	
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

#prv {
	margin-left: 20%;
	margin-top: 10px;
}
#oppb{
	margin-left: 10%;
}
#buttons{
	margin-left: 10%;
}